{% extends 'blog/base.html' %}
{% block content %}
    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <h2 class="display-4 text-center">About</h2>
                <p class="lead mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi aperiam architecto assumenda aut cupiditate dolor eaque, eligendi eos explicabo facere harum incidunt inventore ipsam ipsum molestias mollitia nesciunt nihil nostrum placeat porro possimus provident quasi quidem ratione recusandae repellat reprehenderit saepe sequi ut? Ipsa modi natus nulla ratione repellendus similique, tempore. A alias consequuntur eaque ipsa ipsam nam nihil perspiciatis, similique! Adipisci consectetur deleniti distinctio, eligendi est facilis hic ipsam maxime, necessitatibus nostrum provident quae quasi quisquam suscipit tenetur. Aliquid aperiam beatae, culpa harum id iste iusto libero magnam maiores nobis nostrum omnis perferendis perspiciatis quae sed tenetur veniam!</p>
            </div>
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt=""
                     class="img-fluid rounded-circle h-100">
            </div>
        </div>
        </div>
    </section>
    <footer id="main-footer" class="text-white text-center p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-muted mt-3">Copyright <span>&copy;</span> Mostafa Rafid</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}