{% extends 'blog/base.html' %}
{% block content %}
<section id="logout" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card bg-black text-white">
                    <div class="card-body">
                        <h3>You have been logged out. <a href="{% url 'login' %}" class="text-muted">Login Again</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <footer id="main-footer" class="text-white text-center fixed-bottom p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-muted mt-3">Copyright <span>&copy;</span> Mostafa Rafid</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}