{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="registration" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card bg-black text-white">
                    <div class="card-header"><h3>Registration Form</h3></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group">
                                <button class="btn bg-light text-dark btn-block " type="submit">Register</button>
                            </div>
                        </form>
                        <small class="text-muted">Already have an account?
                            <a href="{% url 'login' %}" class="text-white">Login</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <footer id="main-footer" class="text-white text-center p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-muted mt-3">Copyright <span>&copy;</span> Mostafa Rafid</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}